<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
    <div class='col-md-8 offset-md-1'>
      <h2>映画一覧</h2>
      <%= render 'movies/index', movies: @movies %>
    </div>
  </div>
</div>
