<div class='container px-0 px-sm-0'>
  <div class="sidebar">
    <section class="categories">
      <h2 class="categories-heading common-heading">最新映画</h2>
    </section>
    <%= render 'movies/index', movies: @movies %>
  </div>
</div>