<div class='container px-0 px-sm-0'>
    <div class="sidebar">
        <section class="categories">
          <h2 class="categories-heading common-heading">Categories</h2>
          <div class="sidebar-contents">
            <p class="categories-text">Technology(15)</p>
            <p class="categories-text">Business(23)</p>
            <p class="categories-text">Entertainment(12)</p>
            <p class="categories-text">Nature(32)</p>
            <p class="categories-text">Education(9)</p>
            <p class="categories-text">Adventure(23)</p>
            <p class="categories-text">Communication(14)</p>
          </div>
        </section>
      </div>
    <h2>最新映画</h2>
    <%= render 'movies/index', movies: @movies %>
</div>
