<div class='container px-4 px-sm-4'>
  <div class='row'>
    <div class='col-md-12'>
    <div class='col-md-10 offset-md-1'>
      <h2>最新映画</h2>
      <%= render 'movies/index', movies: @movies %>
    </div>
  </div>
</div>
</div>
