<p class="release-date"><%= movieinfo['table']['results'][i]['table']['release_date'] %></p>
<p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieinfo['table']['results'][i]['table']['poster_path'],class: "card-img" %></p>