<% visiter=notification.visitor %>
<div class="user-view clearfix ">
  <%= link_to user_path(notification.visitor) do %>
    <a class="mt-3 rounded-circle"><%= attachment_image_tag(notification.visitor, :image, size: "70x70", fallback: "no_profile_image.jpg") %></a>
  <% end %>
  <%= notification_form(notification).html_safe %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
</div>