.card {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;

}

.card-wrapper {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.release-date {
    text-align: right;
}

.card-upperinfo {
    height: 139px;
    overflow-y: scroll;
}

.fa-thumbs-up{
    font-size: 25px;
}

.fa-thumbs-down{
    font-size: 25px;
}

.mt-3, .my-3{
    height: 50px;
    width: 50px;
}

.common-heading {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}

.sidebar-contents {
  padding: 50px 0;
}

.popular-text,
.categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;
}

.popular-text:last-child,
.categories-text:last-child {
  margin: 0;
  padding: 0;
  border: none;
}