.card {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;

}

.card-wrapper {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.release-date {
    text-align: right;
}

.card-upperinfo {
    height: 139px;
    overflow-y: scroll;
}

.fa-thumbs-up{
    font-size: 25px;
    height: 50px;
    width: 50px;
    margin-left: 30%;
}

.fa-thumbs-down{
    font-size: 25px;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.mt-3, .my-3{
    height: 60px;
    width: 60px;
}

.common-heading {
  border-bottom: 8px solid palegreen;
  text-align: center;
  line-height: 0.6;

}

.btn-lg, .btn-group-lg > .btn {
  width: 250px;
}

