 .p-profile_main{
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   flex-direction: row;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-top: 18px;
 }
 .p-users-navi_list {
  display: flex;
}



.box{
 display: flex;
 border: 1px solid #000;
 justify-content: center;
}

.box1:hover, .box2:hover, .box3:hover {
  background-color: yellow;
}


    // Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
